//<NULLSTYLE>==================================================================
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{box-sizing: border-box; -moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
nav,footer,header,aside{display: block;}
html,body{
	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
	min-width: $minwidth;
	position:relative;
	color:#000;
}
body {
	font-size:100%;
	line-height:1px;
	font-family: $fontfamily;
	font-size: $fontSize;
	-ms-text-size-adjust:100%;-moz-text-size-adjust:100%; -webkit-text-size-adjust:100%;
	//to avoid problem with scroll in adaptive menu
	&.lock {
	@media (max-width:$md3){
	 	width: 100%;
	 	position: fixed;
		overflow: hidden;
	}
	}
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
input,button,textarea {font-family:$fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited,a:hover{text-decoration: none;}
ul, li{list-style: none;}
img{vertical-align: top;}
//============================================================================
