//<MIXIN for -webkit-; -moz-; -ms-; -o->=============================================================================
    @mixin flexbox () {display: flex; font-size: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;}
    //TRANSITION (usual - all 0.3s ease 0s):
    @mixin anim ($time, $delay) {transition: all $time ease $delay; -webkit-transition: all $time ease $delay; -moz-transition: all $time ease $delay; -ms-transition:all $time ease $delay; -o-transition: all $time ease $delay;}
    //TRANSFORM (usual for X in burger - rotate(-45deg);top:8px)
    @mixin rotate ($deg) {transform: rotate($deg); -webkit-transform: rotate($deg); -moz-transform: rotate($deg); -ms-transform: rotate($deg); -o-transform: rotate($deg);}
    @mixin scale ($num) {transform: scale($num); -webkit-transform: scale($num); -moz-transform: scale($num); -ms-transform: scale($num); -o-transform: scale($num);}
    @mixin flexorder ($val) {order: $val; -webkit-box-ordinal-group: $val; -moz-box-ordinal-group: $val; -ms-flex-order: $val; -webkit-order: $val;}    
//<FONTS>============================================================================================================
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    @font-face {
      font-family: 'Bebas';
      src: url('../fonts/Bebas-Regular.eot');
      src: local('☺'), url('../fonts/Bebas-Regular.woff') format('woff'), url('../fonts/Bebas-Regular.ttf') format('truetype'), url('../fonts/Bebas-Regular.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'AkzidenzGroteskBQ-BdCnd';
      src: url('../fonts/AkzidenzGroteskBQ-BdCnd.eot');
      src: local('☺'), url('../fonts/AkzidenzGroteskBQ-BdCnd.woff') format('woff'), url('../fonts/AkzidenzGroteskBQ-BdCnd.ttf') format('truetype'), url('../fonts/AkzidenzGroteskBQ-BdCnd.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }
//<VARIABLES>========================================================================================================
    $fontfamily:"PT Sans";
    $fontSize: 14px;
    $maxwidth:880+30px;      
    $md1:$maxwidth+20;
    $md2:767.98px;           
    $md3:479.98px;             
    $minwidth:320px;
    //$mw:1170px; $md2:992.98px;
//<WRAPPER, CONTAINER>=============================================================================================== 
    .wrapper {
      width: 100%;
      min-height: 100%;
      overflow: hidden;
    }
    .container {
      max-width: $maxwidth;
      margin: 0 auto;
      width: 100%;
      padding: 0 15px;
      &-min{
        padding: 0 20px;
      }
      @media (max-width: $md1) {max-width:750px; padding: 0 15px;}
      @media (max-width: $md2) {max-width: none; padding: 0 10px;}
      //@media (max-width: $md1){max-width:970px;}
      //@media (max-width: $md2){max-width:750px;} 
      //@media (max-width: $md3) {max-width: none; padding: 0 10px;}
    }  
//<IMPORT FILES, STYLES, PAGES, ELEMENTS>=============================================================================
    @import "_nullstyle.scss";
    @import "_header.scss";
    @import "_footer.scss";
//<BUTTON, LINK, INPUT>======================================================================================================
    .btn{
      display:inline-block;
      max-width: 156px;
      background-color: #000;
      color:#ffffff;
      line-height: 50px;
      font-size: 20px;
      padding: 0 32px;
      font-family: 'Bebas';
      text-transform: uppercase;
      letter-spacing: 0.7px;
      &:hover{
        text-decoration: underline; 
      }
      &:active {
        position: relative;
        top: 3px;
      }
      &--white{
        background-color: #ffffff;
        color: #000000;
      }
      &--white2{
        padding: 0 24px;
      }
      @media (max-width: $md2) {
        padding: 0 20px;
        line-height: 45px;
        max-width: 131px;
        &--white2 {padding: 0 11px;}
      }
    }
    .lnk {
      display:inline-block;
      color: #000;
      line-height: 50px;
      font-family: Bebas;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      text-decoration: underline; 
      &--white{
        color: #ffffff;
      }
      &:active {
        position: relative;
        top: 3px;
      }
      @media (max-width: $md2) {
        line-height: 45px;
      }
    }
    
input[type=text], input[type=email], input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input{
  display: block;
  border-radius: 0 !important;
  width: 100%;
  height: 50px;
  padding: 0px 18px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
  line-height: 25px;
  @media (max-width:$md1) {
    font-size: 14px;
    line-height: 23px;
    padding: 0px 10px;
    height: 40px;
  }
}
textarea.input {
  resize: none;
  padding: 10px 18px;
  height: 100px;
  border: 2px solid #959595;
  background-color: #252525;
  @media (max-width:$md1) {
    padding: 10px 10px;
    height: 80px;
  }
}
//<MAIN>=============================================================================================================
.catering {
  @include flexbox ();
  background-color:#000;
  //<Margin top for fixed header>
  margin: 175px 0 75px 0;
  @media (max-width: $md1) {
    margin: 150px 0 40px 0;
  }
  @media (max-width: $md2) {
    margin: 94px 0 40px 0;
  }
  @media (max-width: $md3) {
    margin: 81px 0 35px 0;
  }
}
.catering-column {
  flex: 0 0 50%;
  @media (max-width:$md2) {
    &:first-child {
      display: none;
    }
    flex: 0 0 100%;
  }
}
.catering__img {
  background-image: url("../img/block1/01.jpg");
  height: 100%;
  //For different image sizes
  background-position: 0 0; 
  background-repeat: no-repeat;
  background-size: cover; 
}
.catering-item {
  max-width: 303px;
  margin: 75px 0 75px 60px;
  @media (max-width:$md1) {
    margin: 30px 30px;
    max-width: none;
  }
  @media (max-width:$md3) {
    margin: 20px 20px;
  }
}
.catering-item__title {
  color: #ffffff;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 25px 0;
  @media (max-width:$md1) {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 15px 0;
  }
}
.catering-item__text {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 50px 0;
  @media (max-width:$md1) {
    margin: 0 0 25px 0;
    font-size: 14px;
    line-height: 23px;
  }
  @media (max-width:$md2) {
    margin: 0 0 15px 0;
  }
}
.catering-item-buttons {}
.catering-item__button {
  margin: 0 14px 0 0;
}
.catering-item__link{}
//==============================================================================================================
.products {
  margin: 0 0 40px 0;
  @media (max-width: $md1) {
     margin: 0 0 0 0;
  }
}
.products-body {
  @include flexbox ();
  @media (max-width: $md2) {
    flex-wrap:wrap;
 } 
}
.products-column {
  flex: 0 0 25%;
  margin: 0 0 25px 0;
  overflow: hidden;
  @media (max-width: $md1) {
    margin: 0 0 20px 0;
  }
  @media (max-width: $md2) {
    flex: 0 0 50%;
  }
  @media (max-width: 380px) {
    flex: 0 0 100%;
  }
}
.products-item {
  //For different text sizes
  @include flexbox ();
  flex-direction:column;
  height: 100%;
  &:hover {
    @include scale(1.02); 
    @include anim(0.3s, 0s);
  }
  @media (max-width: $md2) {
    @include scale(1);
  }
}
.products-item__img {
  display: block;
  margin: 0 0 22px 0;
    &--1 {background-image: url("../img/block2/02.jpg");}
    &--2 {background-image: url("../img/block2/03.jpg");}
    &--3 {background-image: url("../img/block2/04.jpg");}
    &--4 {background-image: url("../img/block2/05.jpg");}
  //Adaptive image
  padding: 0 0 102% 0;
  //For different image sizes
  background-position: 0 0; 
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $md2) {
    margin: 0 0 15px 0;
  }
}
.products-item__title {
  display: inline-block; 
  //For different title sizes (title in 1 line)
  overflow: hidden;
  height: 50px;
  max-width: 180px;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 25px;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 0 27px 0;
  padding: 0 5px 0 5px;
  @media (max-width: $md1) {
    font-size: 23px;
    line-height: 23px;
    margin: 0 0 10px 0;
  }
  @media (max-width: $md2) {
    margin: 0 0 5px 0;
  }
  @media (max-width: 380px) {
    overflow: visible;
    max-width: none;
    height: auto;
  }
}
.products-item__text {
  //For different text sizes
  flex: 1 1 auto; 
  max-width: 195px;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin: 0 0 26px 0;
  padding: 0 5px 0 5px;
  @media (max-width: $md1) {
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 10px 0;
  }
  @media (max-width: $md2) {
    max-width: none;
    margin: 0 0 5px 0;
  }
}
.products-item__button {
  margin: 0 0 10px 5px;
  @media (max-width: $md2) {
    margin: 0 0 0 0;
  }
}
.products-item__link {
  padding: 0 5px 0 5px;
}
//==============================================================================================================
.choose {
  margin: 0 0 87px 0;
  @media (max-width: $md1) {
    margin: 0 0 30px 0;
  }
}
.choose-top {
  @include flexbox ();
  background-color:#000;
}
.choose-top-column {
  flex: 0 0 50%;
  @media (max-width:$md2) {
    flex: 0 0 100%;
    &:last-child {
      display: none;
    }
  }
}
.choose-top__title {
  color: #ffffff;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 50px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: right;
  padding: 65px 55px 60px 5px;
  @media (max-width:$md1) {
    font-size: 35px;
    padding: 35px 5px 35px 5px;
    text-align: center;
  }
}
.choose-top__img {
  background-image: url('../img/block3/06.jpg');
  height: 100%;
  //For different image sizes
  background-position: 0 0; 
  background-repeat: no-repeat;
  background-size: cover; 
}
//===============================================================
.choose-bottom {
  background-color: #ebebeb;
}
.choose-bottom-body {
  @include flexbox ();
  flex-wrap:wrap;
  padding: 50px 0 0 0;
  @media (max-width:$md1) {
    padding: 30px 0 0 0;
  }
}
.choose-bottom-body-column {
  flex: 0 0 50%;
  @media (max-width: $md1) {
    flex: 0 0 100%;
  }
}
.choose-bottom-item {
  @include flexbox ();
  padding: 0 0 0 5px;
  margin: 0 0 50px 0;
  @media (max-width: $md1) {
    padding: 0 0 0 0;
    margin: 0 0 30px 0;
  }
}
.choose-bottom-item__img {
  @include flexbox ();
  background-color: #000000;
  justify-content:center;
  align-items:center;
  //width/height-important
  flex: 0 0 100px;
  height: 100px;
  @media (max-width:$md1) {
    flex: 0 0 80px;
    height: 80px;
  }
}
.choose-bottom-item-body {
  @include flexbox ();
  flex-direction:column;
  padding: 0 11px 0 11px;
  @media (max-width:$md1) {
    padding: 0 5px 0 11px;
  }
}
.choose-bottom-item-info__title {
  //For different title sizes (title in 1 line)
  height: 50px;
  overflow: hidden;
  flex: 1 1 auto;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 25px;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  @media (max-width: $md1) {
    margin: 0 0 10px 0;
    height: auto;
    overflow: visible;
    font-size: 23px;
    line-height: 23px;
  }
}
.choose-bottom-item-info__text {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  @media (max-width: $md1) {
    font-size: 14px;
    line-height: 23px;
  }
}    
//==============================================================================================================
.contacts {
  margin: 0 0 45px 0;
  @media (max-width: $md1) {
    margin: 0 0 30px 0;
  }
  @media (max-width: $md2) {
    margin: 0 0 20px 0;
  }
}
.contacts-top {
  @media (max-width: $md2) {
    margin: 0 0 20px 0;
  }
}
.contacts__title {
  color: #000000;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 50px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 37px 0;
  @media (max-width: $md1) {
    font-size: 35px;
    margin: 0 0 20px 0;
  }
  @media (max-width: $md2) {
    margin: 0 0 15px 0;
  }
}
.contacts-top-body {
  @include flexbox ();
  flex-wrap:wrap;
}
.contacts-top-column {
  flex: 0 0 50%;
  &:last-child {
    padding: 0 0 0 5px;
  }
  @media (max-width: $md2) {
    flex: 0 0 100%;
    &:last-child {
    padding: 0 0 0 0px;
    }
  }
}
.contacts-top__item {
  display: block;
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  padding: 5px 5px 5px 30px;
  margin: 0 0 15px 0;
  &--1{
    background: url('../img/11.svg') left no-repeat;
  }
  &--2{
    background: url('../img/12.svg') left no-repeat;
  }
  &--3{
    background: url('../img/13.svg') left no-repeat; 
    padding: 5px 5px 5px 35px;
  }
  @media (max-width: $md1) {
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 10px 0;
  }
  @media (max-width: $md2) {
    margin: 0 0 5px 0;
  }
  &:hover {
    color:#545353;
  }
}
.contacts-top-social {
  @include flexbox ();
  padding: 5px 5px 5px 0px;
}
.contacts-top-social__item {
  margin: 0 31px 0 0;
  &:last-child{
    margin: 0 0 0 0;
  }
}
//===============================================================
.contacts-bottom {
  @include flexbox ();
  background-color:#000;
  @media (max-width:$md2) {
    flex-wrap:wrap;
  }
}
.contacts-bottom-column {
  flex: 0 0 50%;
  @media (max-width:$md2) {
    flex: 0 0 100%;
  }
}
.contacts-bottom__map {
  height: 100%;
  @media (max-width:$md2) {
    height: 210px;
  }
}
.contacts-bottom-form {
  margin: 50px 60px;
  max-width: 372px;
  @media (max-width:$md1) {
    margin: 30px 30px;
    max-width: none;
  }
  @media (max-width:$md3) {
    margin: 20px 20px;
  }
}
.contacts-bottom-form__title {
  color: #ffffff;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 0 25px 0;
  @media (max-width:$md1) {
    font-size: 23px;
    line-height: 23px;
    margin: 0 0 20px 0;
  }
}
.contacts-bottom-form-body {}
.contacts-bottom-form-item {
  margin: 0 0 25px 0;
  @media (max-width:$md1) {
    margin: 0 0 20px 0;
  }
}
.contacts-bottom-form-button {}
.contacts-bottom-form__button {}
//=============================================================================================================