<footer class="footer">
	<div class="container container-min">
		<div class="footer-body">
			<div class="footer-body-column">
				<div class="footer-body__text">© PrimeOne Catering 2014. 
					<a href="" target="_blank">Terms & Conditions</a> 
				</div>
			</div>
			<div class="footer-body-column">
				<a href="" class="footer-body-logo"><img src="img/logo.png" alt="Logo" class="footer-body-logo__img"></a>
			</div>
		</div>
	</div>
</footer>