<header class="header">
			<div class="container container-min">
				<div class="header-top">
					<div class="header-top-lang">
						<a href="#" class="header-top-lang__link active">EN</a>
						<a href="#" class="header-top-lang__link">RU</a>
						<a href="#" class="header-top-lang__link">ESP</a>
					</div>
					<a href="#" class="header-top__link">Online ordering</a>
				</div>
				<div class="header-bottom">
					<div class="header-bottom-column header-bottom-column-1">
						<nav class="header-bottom-menu">
							<ul class="header-bottom-menu-list">
								<li>
									<a href="#" class="header-bottom-menu__link">ABOUT</a>
								</li>
								<li>
									<a href="#" class="header-bottom-menu__link">Menus</a>
								</li>
								<li>
									<a href="#" class="header-bottom-menu__link">Service Info</a>
								</li>
							</ul>		
						</nav>
					</div>
					<div class="header-bottom-column header-bottom-column-2">
						<a href="#" class="header-bottom-logo">
							<span class="header-bottom-logo__text">NYC'S</span>
							<span class="header-bottom-logo__img">
								<img src="img/logo.png" alt="Logo">
							</span>
							<span class="header-bottom-logo__text">Catering</span>
						</a>
					</div>
					<div class="header-bottom-column header-bottom-column-3">
						<nav class="header-bottom-menu">
							<ul class="header-bottom-menu-list header-bottom-menu-list--right">
								<li>
									<a href="#" class="header-bottom-menu__link">Gallery</a>
								</li>
								<li>
									<a href="#" class="header-bottom-menu__link">Friends</a>
								</li>
								<li>
									<a href="#" class="header-bottom-menu__link">Contact</a>
								</li>	
							</ul>
						</nav>
					</div>
				</div>
				<!-- <ADAPTIVE burger> -->
				<div class="header-menu__icon">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="header-menu">
				</div>
			</div>
		</header>
